* {
  margin: 0;
  padding: 0;
}

/* Default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(245, 159, 79, 0.637);
}

.contenedor {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-template-rows: 500px 500px 500px 500px;
  grid-template-areas:
    "header header header"
    "hero hero hero"
    "contenedor contenedor contenedor "
    "footer footer footer";
}

/*...header...*/
header {
  background-color: brown;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 60px;
  grid-area: header;
}
header a {
  text-decoration: none;
  color: rgb(220, 184, 184);
}
header nav ul {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content:center;
}
header nav ul li {
  font-size: 9px;
  display: flex;
  padding: 20px;
  grid-area: nav;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  width: 10%;
  float:left;
}
/*...main...*/
.hero {
  width: 100%;
  height: 300px;;
  background-image: url("../img/habitacion.jpg");
  color: antiquewhite;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  grid-area: hero;
}
.hero img{
  width: 100%;
  height: 100%;
}
.hero a {
  background-color: rgb(221, 207, 120);
  text-decoration: none;
  text-align: center;
  text-decoration-line: none;
  color: beige;
  font-size: xx-small;
  font-weight: 300;
  padding: 10px;
}
.hero h1 {
  text-align: center;
  background-color: rgba(169, 63, 63, 0.476);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}
.habitaciones h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: brown;
  font-size: xx-large;
  padding: 60px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.habitaciones {
  width: auto;
  height: 600px;
  padding: 50px;
  grid-area: main;
  float: none;
  grid-area: contenedor;
}
.fotos__habitaciones {
  display: flex;
  flex-direction: row;
  border: 1px solid;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  grid-area: contenedor;
}
.fotos__habitaciones img {
  width: 100px;
  height: 100px;
}
.housing {
  padding: 30px;
}
.habitacion__simple {
  padding: 30px;
}
.habitacion__king {
  padding: 30px;
}
.housing a {
  color: aliceblue;
  background-color: rgb(195, 62, 62);
  font-size: 12px;
  text-decoration-line: none;
  text-decoration: none;
  padding: 5px;
}
.habitacion__simple a {
  text-decoration: none;
  text-decoration-line: none;
  background-color: brown;
  font-size: 12px;
  color: aliceblue;
  padding: 5px;
}
.habitacion__king a {
  text-decoration: none;
  text-decoration-line: none;
  background-color: brown;
  font-size: 12px;
  color: antiquewhite;
  padding: 5px;
}

.lugares__cercanos {
  padding: 20px;
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: contenedor;
}

.lugares__cercanos img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  padding: 5px;
  justify-content: center;
}
.titulo__lugar h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: brown;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.whatsapp img{
  width: 60px;
  height: 60px;
  position:sticky;
}
/*...footer...*/
footer{background-color: brown; 
  width: 100%;
  height: 300px;
  grid-area: "footer";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  padding:15px;}
  .direccion{
      width: max-content;
      height:max-content;
      font-size: 12px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: rgb(239, 239, 243);
      font-variant: initial;
      
  }

footer img {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
}
.direccion {
  width: max-content;
  height: max-content;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(239, 239, 243);
  font-variant: initial;
}

/*habitaciones----habitaciones*/

.habitaciones2 h2 {
  font-size: xx-large;
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count:infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
    100% {
      opacity: 1;
    }
  }
}
/*otrosservicios*/
.colum img {
  margin-top: 5px;
  width: 100%;
}

.evento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  justify-content: center;
}
.colum {
  flex: 25%;
  padding: 5px;
}



/*habitaciones----habitaciones*/

.habitaciones2 h2 {
  font-size: xx-large;
  color: brown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 30px;
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count:infinite;
}
@keyframes aparecer {
  0% {
    opacity: 0;
    100%
      opacity: 1;
     }
}
/*otrosservicios*/
.colum img {
  margin-top: 5px;
  width: 100%;
}

.evento {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  justify-content: center;
}
.colum {
  flex: 25%;
  padding: 5px;
}


/* vista mobile*/
@media  screen and (max-width:600px) {
  .gridcontainer {
    display: grid;
    grid-template-areas:
      "nav nav nav"
      "hero hero hero"
      "habitacion habitacion habitacion"
      "car card card"
      "lugares__cercanos  lugares__cercanos lugares__cercanos"
      "footer footer footer";
    grid-template-columns: 5fr;
    grid-template-rows: repeat (2fr);
  }
  body {
    background-color: rgb(241, 193, 104);
    width: 100vw;
    height: 100vh;
  }
  header{background-color: #59041B;}
  
  .nav {
    grid-template-areas: "nav";
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }
  .li ul {
    text-decoration: none;
    font-size: 9%;
    color: antiquewhite;
    
  }
  .hero{ background-color:#59041B;
         font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
         font-size: 20px;
         color: aliceblue;
         text-align:center;
         grid-template-areas: "hero";
         width: 100%;
        height: 100%;
    
  }
  .hero img{
    width: 100%;
    height: 100%;
  }
  button {
    --color: #ffbf00;
    font-family: inherit;
    display: inline-block;
    width: 6em;
    height: 2.6em;
    line-height: 2.5em;
    overflow: hidden;
    margin: 15px;
    font-size: 10px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  button:hover {
    color: rgb(238, 102, 102);
  }
  
  button:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  button:hover::before {
    top: -30px;
    left: -30px;
  }
.lugares__cercanos {
  text-align: center;
}
  .lugares__cercanos img {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px;
    
  }
  .whatsapp img {
    width: 40px;
    height: 40px;
    position: relative;
  }
  Footer {
    background-color: #59041B;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: antiquewhite;
    width: 100vw;
    height: 200px;
    text-align: center;
  }
  Footer img {
    width: 40px;
    height: 30px;
  }
  }
 
 
/*media768*/

  @media screen and (max-width:768px) {
    .gridcontainer {
      display: grid;
      grid-template-areas:
        "nav nav nav"
        "hero hero hero"
        "habitacion habitacion habitacion"
        "car card card"
        "lugares__cercanos  lugares__cercanos lugares__cercanos"
        "footer footer footer";
      grid-template-columns: 5fr;
      grid-template-rows: repeat (2fr);
    }
    body {
      background-color: rgb(241, 193, 104);
      width: 100vw;
      height: 100vh;
    }
    header{background-color: #59041B;}
    
    .nav {
      grid-template-areas: "nav";
      align-items: stretch;
      display: flex;
      flex-direction: column;
    }
    .li ul {
      text-decoration: none;
      font-size: 9%;
      color: antiquewhite;
      
    }
    .hero{ background-color:#59041B;
           font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
           font-size: 20px;
           color: aliceblue;
           text-align:center;
           grid-template-areas: "hero";
           width: 100%;
           height: 100%;
          
      
    }
    .hero img{
      width: 100%;
      height: 100%;
    }
    button {
      --color: #ffbf00;
      font-family: inherit;
      display: inline-block;
      width: 6em;
      height: 2.6em;
      line-height: 2.5em;
      overflow: hidden;
      margin: 15px;
      font-size: 10px;
      z-index: 1;
      color: var(--color);
      border: 2px solid var(--color);
      border-radius: 6px;
      position: relative;
    }
    button::before {
      position: absolute;
      content: "";
      background: var(--color);
      width: 150px;
      height: 200px;
      z-index: -1;
      border-radius: 50%;
    }
    
    button:hover {
      color: rgb(238, 102, 102);
    }
    
    button:before {
      top: 100%;
      left: 100%;
      transition: .3s all;
    }
    
    button:hover::before {
      top: -30px;
      left: -30px;
    }
   
   
  
    .lugares__cercanos img {
      width: 200px;
      height: 200px;
      display: grid;
      grid-template-columns: 100px;
      grid-template-rows: 50px 50px 50px 50px;
    }
    .whatsapp img {
      width: 40px;
      height: 40px;
      position: relative;
    }
    Footer {
      background-color: #59041B;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      color: antiquewhite;
      width: 100vw;
      height: 200px;
      text-align: center;
    }
    Footer img {
      width: 40px;
      height: 30px;
    }
    }
   
   
  
  
  